@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* Configuración básica */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(236, 108, 75, 1),
    rgba(255, 221, 176, 1)
  );
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 3px solid #333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-image: linear-gradient(  
    to bottom,
    rgba(129, 201, 250, 1),
    rgba(20, 101, 187, 1)
  );
}

.cajas {
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: center;
}
.cajas label {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.cajas input {
  padding: 10px;
  border-radius: 12px;
  border: none;
}

.boton {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  justify-self: center;
}
button{
  padding: 5px 15px;
    background-color: #e4fff9;
    color: rgb(0, 0, 0);
    border-radius: 15px; /* Hace que el botón sea ovalado */
    cursor: pointer;}
img{
  border-radius: 15%;
  border: 3px solid #000000;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.result-div {
  background-color: #cbd6ee;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}